.cv-entry {
    width: 80%;
    margin: 100px auto;

    display: grid;
    grid-template-columns: auto 4fr 1fr;
    grid-template-rows: auto auto;

    border: 1px solid black;
    padding: 10px;
}

.cv-blurb {
    grid-column: 2/-1;
}

.date-label {
    grid-row: 1/-1;
    margin: 0 10px;
}

p {
    margin: 0
}

.institution {
    text-align: right;
}