.cv-entry {
    display: grid;
    grid-template-columns: auto 4fr 1fr;
    grid-template-rows: auto auto;

    border-top: 1px solid black;
    padding: 10px;
}

.cv-blurb {
    grid-column: 2/-1;
}

.date-label {
    grid-row: 1/-1;
    margin: 0 10px;
    font-size: 0.8rem;
}

.date-label input {
    display: block;
}

p {
    margin: 0
}

.institution {
    text-align: right;
    align-self: end;
}

.cv-title {
    font-size: 1.5rem;
    align-self: end;
}

textarea{
    resize:vertical;
}